@import "./../../node_modules/swiper/swiper-bundle.css";
@media (max-width: 991.98px) {
  .top-header {
    order: 1;
  }
  .top-header__users-wrapper {
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  .user {
    margin-right: 1.125rem;
  }
  .user:last-child {
    margin-right: 0;
  }
  .user__icon {
    margin-right: 0;
  }
  .user__label {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
.contacts__label, .subtitle, .comments__title, .add-comment__title, .comment__author, .characteristics__title, .product__price, .product__title, .feature-top__title, .filter-title, .title {
  font-family: "Scada", sans-serif;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background-color: #888;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
}

.top-header {
  background-color: #414141;
  padding: 3.125rem 0;
}
.top-header__inner {
  display: flex;
  justify-content: space-between;
}
.top-header__logo {
  flex: 0 0 auto;
  margin-right: 2.5rem;
}
.top-header__form {
  margin-bottom: 1.5625rem;
}
.top-header__actions {
  margin-right: 2.5rem;
  flex: 0 1 40%;
  min-width: 250px;
}
.top-header__users-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  font-family: "Scada", sans-serif;
  font-size: inherit;
  color: #fff;
  position: relative;
}
.search-form__input {
  width: 100%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #fff;
  border-radius: 1.875rem;
  height: 2.5rem;
  padding: 0.5rem 0.9375rem;
}
.search-form__input:hover, .search-form__input:active, .search-form__input:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}
.search-form__button {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
}
.search-form__icon {
  width: 19px;
  height: 19px;
}

.user {
  display: flex;
  align-items: center;
}
.user__icon {
  display: inline-block;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.address-information {
  font-size: inherit;
  font-family: inherit;
}
.address-information__item + .address-information__item {
  margin-top: 0.625rem;
}
.address-information__link {
  display: flex;
}
.address-information__link:hover .address-information__icon path, .address-information__link:hover .address-information__icon rect, .address-information__link:active .address-information__icon path, .address-information__link:active .address-information__icon rect, .address-information__link:focus .address-information__icon path, .address-information__link:focus .address-information__icon rect {
  stroke: #F24444;
}
.address-information__icon {
  margin-right: 0.625rem;
  width: 16px;
  height: 21px;
}
.address-information__icon path, .address-information__icon rect {
  transition: all 0.5s ease;
  stroke: #fff;
}
.address-information__icon--right {
  order: 1;
  margin: 0 0 0 0.625rem;
}
.address-information__schedule {
  margin-top: 1.25rem;
}

.bottom-header {
  background-color: #555555;
  padding: 0.625rem 0;
}
.bottom-header__mobile-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -0.625rem;
}
.navigation__item {
  position: relative;
  margin-right: 0.9375rem;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item:hover .dropdown {
  visibility: inherit;
  opacity: 1;
}
.navigation__link {
  padding: 0.625rem;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  color: #F24444;
}
.navigation__link--active span {
  border-bottom: 0.125rem solid #F30E0E;
}

.dropdown {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: -0.625rem;
  padding-top: 0.625rem;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.dropdown__menu {
  background-color: #414141;
  border-radius: 0px 0px 0.1875rem 0.1875rem;
  min-width: 12.5rem;
}
.dropdown__list {
  padding: 0.3125rem;
}
.dropdown__item {
  width: 100%;
}
.dropdown__item:hover {
  background-color: #555555;
  color: #F24444;
}
.dropdown__link {
  padding: 0.5rem 0.9375rem;
}
.dropdown.active {
  opacity: 1;
  visibility: visible;
}

.mobile-nav {
  display: block;
}
.mobile-nav__item {
  margin-bottom: 0.3125rem;
}
.mobile-nav__item:last-child {
  margin-bottom: 0;
}
.mobile-nav__link {
  width: 100%;
  padding: 0.625rem 1.5625rem;
}

.mobile-button {
  position: relative;
  z-index: 10;
  width: 2.5rem;
  height: 1.875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mobile-button__icon {
  display: block;
  width: 1.25rem;
  height: 0.1875rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  position: relative;
}
.mobile-button__icon::after, .mobile-button__icon::before {
  position: absolute;
  content: "";
  width: 1.875rem;
  height: 0.1875rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  transition: transform 0.15s ease-in, top 0.15s ease-in;
}
.mobile-button__icon::before {
  left: 0;
  top: -0.625rem;
}
.mobile-button__icon::after {
  left: 0;
  top: 0.625rem;
}
.mobile-button__icon.active {
  background-color: transparent;
}
.mobile-button__icon.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
}
.mobile-button__icon.active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
}

.mobile-navigation {
  display: block;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
}
.mobile-navigation__list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.mobile-navigation__logo {
  margin-bottom: 30px;
}

.mobile-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.motomir {
  padding: 2.1875rem 0;
}
.motomir * + * {
  margin-top: 0.9375rem;
}
.motomir__text {
  font-weight: 300;
  line-height: 1.8;
}
.motomir__text p + p {
  margin-top: 0.625rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
}

.partners {
  background-color: #fff;
  padding: 1.5625rem 0;
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partners__item:not(:last-child) {
  margin-right: 0.625rem;
}

.popular-products {
  padding: 4.0625rem 0;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
}
.popular-products__title {
  text-align: left;
  margin-bottom: -1.5625rem;
}
.popular-products__btns {
  display: flex;
  position: absolute;
  top: 0.625rem;
  right: 0;
}

.popular-products__slider .swiper-button-prev::after,
.popular-products__slider .swiper-button-next::after {
  display: none;
}

.popular-products__slider.swiper-container {
  padding: 2.5rem 0;
  position: relative;
  overflow: hidden;
}

.popular-products__slider .swiper-button-prev,
.popular-products__slider .swiper-button-next {
  position: static;
}

.popular-products__slider .swiper-button-prev {
  margin-right: 0.625rem;
}

.product-card {
  font-family: "Scada", sans-serif;
  font-size: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 1.125rem;
  padding: 0.625rem;
  color: #000;
  box-shadow: none;
  transition: box-shadow 0.7s ease-out;
}
.product-card:hover {
  box-shadow: -0.125rem 0.125rem 1.1875rem 0.0625rem #FFCBCB;
}
.product-card:hover .product-card__overlay {
  opacity: 1;
}
.product-card__img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
}
.product-card__img img {
  height: 9.375rem;
  object-fit: contain;
}
.product-card__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.product-card__title {
  text-align: center;
}
.product-card__article {
  display: block;
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 1.125rem;
}
.product-card__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9375rem;
}
.product-card__text {
  font-size: 0.875rem;
  color: #888;
}
.product-card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 231, 230, 0.8);
  border-radius: 1.125rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.product-card__overlay-link {
  margin-bottom: 0.9375rem;
}

.moto-news {
  padding: 0 0 1.875rem 0;
}
.moto-news__title {
  margin-bottom: 3.125rem;
}
.moto-news__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.875rem;
  margin-bottom: 3.125rem;
}
.moto-news__btn {
  text-align: center;
}

.news-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background: #FFFFFF;
  color: #000;
  border-radius: 1.125rem;
  padding: 0.9375rem;
}
.news-card__img {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5625rem;
}
.news-card__img img {
  height: 12.8125rem;
  object-fit: contain;
}
.news-card__title-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 12.5rem;
  left: 0;
}
.news-card__information {
  flex: 1 0 auto;
}
.news-card__name {
  margin-bottom: 0.9375rem;
}
.news-card__name:hover {
  color: #F30E0E;
}
.news-card__preview {
  max-height: 9.5rem;
  overflow: hidden;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}
.news-card__info {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
}
.news-card__link {
  text-decoration: underline;
}
.news-card__link:hover, .news-card__link:focus, .news-card__link:active {
  color: #F30E0E;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3125rem 5.375rem;
  min-height: 3.125rem;
  border-radius: 1.875rem;
  color: #fff;
  background-color: #F30E0E;
  font-size: 1.125rem;
  font-family: "Scada", sans-serif;
  transition: background-color 0.5s ease;
}
.btn--small {
  padding: 0.3125rem 5rem;
  min-height: 2.5rem;
}
.btn--price {
  display: flex;
  min-height: 1.875rem;
  font-size: 1rem;
  padding: 0.3125rem 1.25rem;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #414141;
}

.btn-busket {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 2.5rem;
  background-color: #0B9D1A;
  color: #fff;
  padding: 0.3125rem;
  min-width: 11.25rem;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  border-radius: 1.875rem;
  transition: background-color 0.5s;
}
.btn-busket:hover {
  background-color: #16b426;
}
.btn-busket__icon {
  margin-right: 0.625rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 2.5rem;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  color: #fff;
  background-color: #F30E0E;
  padding: 0.3125rem;
  min-width: 11.25rem;
  border-radius: 1.875rem;
  transition: background-color 0.5s;
}
.link:hover, .link:focus, .link:active {
  background-color: #414141;
}

.social__list {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 0.625rem;
}
.social__link-icon {
  width: 42px;
  height: 42px;
}

.footer {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
}
.footer__contacts {
  margin-right: 3.125rem;
}
.footer__content {
  background-color: #414141;
  padding: 5rem 0;
}
.footer__social-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
}
.footer__info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__copyright {
  background-color: #555555;
  padding: 2.5rem 0;
  text-align: center;
}

.footer-nav {
  display: flex;
}
.footer-nav__list {
  margin-right: 2.81rem;
}
.footer-nav__list:last-child {
  margin-right: 0;
}
.footer-nav__label {
  font-weight: 700;
  color: #F24444;
  margin-bottom: 0.625rem;
  position: relative;
  padding-right: 1.56rem;
  display: inline-block;
}
.footer-nav__label::before {
  content: "";
  position: absolute;
  background-image: url(../img/dropdown-icon.svg);
  background-repeat: no-repeat;
  width: 0.9375rem;
  height: 0.75rem;
  right: 0;
  top: 0.375rem;
  display: none;
}
.footer-nav__item + .footer-nav__item {
  margin-top: 0.625rem;
}
.footer-nav__link {
  transition: all 0.2s ease;
}
.footer-nav__link:hover {
  color: #F24444;
  text-decoration: underline;
}
.footer-nav__spoiler {
  display: block;
}

.schedule {
  line-height: 1.5;
}
.schedule__title {
  font-weight: 700;
}

.breadcrumbs {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  padding: 1.5625rem 0;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 0.9375rem;
  padding-right: 1.9375rem;
  position: relative;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url(../img/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  width: 1rem;
  height: 0.5rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs__link {
  padding: 0.3125rem;
}
.breadcrumbs__link--active {
  font-weight: 700;
}
.breadcrumbs__link[href]:hover, .breadcrumbs__link[href]:focus, .breadcrumbs__link[href]:active {
  text-decoration: underline;
}

.products-block__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.875rem;
}

.sorting {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  padding: 0.9375rem 0;
}
.sorting__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sorting__item {
  margin: 0 0.9375rem 0.3125rem 0;
}
.sorting__item:last-child {
  margin-right: 0;
}

.sorting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2.5rem;
  background-color: #fff;
  padding: 0.3125rem 2.1875rem;
  border-radius: 1.875rem;
  color: #000;
}
.sorting-btn:hover, .sorting-btn:focus {
  box-shadow: -0.125rem 0.125rem 1.1875rem 0.0625rem #FFCBCB;
}
.sorting-btn.active {
  background-color: #414141;
  color: #fff;
}
.sorting-btn.active:hover {
  box-shadow: none;
}
.sorting-btn--icon span {
  position: relative;
  padding-right: 0.9375rem;
}
.sorting-btn--icon span::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 0.5rem;
  height: 1rem;
  right: 0;
}
.sorting-btn--icon-arrow-up span::before {
  background-image: url(../img/arrow-up.svg);
  top: 0.1875rem;
}
.sorting-btn--icon-arrow-down span::before {
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  top: 0.25rem;
}

.pagination {
  padding: 1.5625rem 0;
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination__item {
  margin: 0 0.3125rem 0.3125rem 0;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.0625rem solid #FFFFFF;
  padding: 0.3125rem;
  border-radius: 0.1875rem;
}
.pagination__link--active {
  background-color: #F30E0E;
  border-color: #F30E0E;
}
.pagination__link:hover {
  background-color: #F30E0E;
  border-color: #F30E0E;
}
.pagination__link-icon--disabled path, .pagination__link-icon--disabled rect {
  stroke: #b1b9b9;
}
.pagination__link--no-border {
  border: none;
}
.pagination__link--no-border:hover {
  background-color: transparent;
}

.filter {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
}
.filter__settings {
  padding: 1.5625rem 1.125rem;
}
.filter__price-block, .filter__technics-block, .filter__brands-block, .filter__size-block, .filter__mileage-block, .filter__material-block, .filter__type-block {
  margin-bottom: 30px;
}
.filter__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1.125rem;
}
.filter__reset {
  text-align: center;
}
.filter__reset-btn {
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

.filter-title {
  font-size: 1.125rem;
}
.filter-title--spoiler-arrow {
  display: inline-block;
  position: relative;
  padding-right: 1.875rem;
}
.filter-title--spoiler-arrow::before {
  content: "";
  position: absolute;
  background-image: url(../img/dropdown-icon.svg);
  background-repeat: no-repeat;
  width: 0.9375rem;
  height: 0.75rem;
  right: 0;
  top: 0.375rem;
  display: none;
}

.toggle-block__title {
  margin-bottom: 1.125rem;
}
.toggle-block__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5625rem;
}
.toggle-block__label {
  margin-bottom: 0.3125rem;
}
.toggle-block__input {
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  padding: 0.3125rem;
}

.checkbox-block__title {
  margin-bottom: 1.25rem;
}
.checkbox-block__item {
  position: relative;
}
.checkbox-block__item + .checkbox-block__item {
  margin-top: 0.625rem;
}

.checkbox__input {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkbox__input:checked + .custom-checkbox::before {
  content: "";
  position: absolute;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  width: 0.4375rem;
  height: 0.4375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkbox__input:focus + .custom-checkbox {
  box-shadow: 0 0 0 0.125rem #414141;
}
.checkbox__custom {
  margin-top: 1px;
}
.checkbox__name {
  margin-left: 1.875rem;
}

.custom-checkbox {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 0.125rem;
}

.radio-block__title {
  margin-bottom: 1.125rem;
}
.radio-block__item + .radio-block__item {
  margin-top: 0.625rem;
}

.radio__input {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.radio__input:checked + .custom-radio::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #F30E0E;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__input:focus + .custom-radio {
  box-shadow: 0 0 0 0.125rem #414141;
}
.radio__custom {
  margin-top: 0.125rem;
}
.radio__name {
  margin-left: 1.875rem;
}

.custom-radio {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

.toggle-block__title {
  margin-bottom: 1.125rem;
}
.toggle-block__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5625rem;
}
.toggle-block__label {
  margin-bottom: 0.3125rem;
}
.toggle-block__input {
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  padding: 0.3125rem;
}

.catalog {
  padding-bottom: 3.75rem;
}
.catalog__inner {
  display: flex;
}
.catalog__filter {
  flex: 0 0 23%;
  margin-right: 1.875rem;
}
.catalog__products {
  flex: 0 1 75%;
}
.catalog__text {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.8;
}
.catalog__text p + p {
  margin-top: 0.9375rem;
}
.catalog__filter-btn {
  display: none;
}

.products-block__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.875rem;
}

.card-images__image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.card-images__image img {
  height: 18.375rem;
  object-fit: contain;
  display: none;
}
.card-images__image img.active {
  display: block;
}

.color-block {
  display: flex;
  justify-content: space-between;
  font-family: "Scada", sans-serif;
}
.color-block__label {
  display: block;
  margin-right: 2.5rem;
}
.color-block__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.color-block__item {
  margin-right: 0.625rem;
}
.color-block__item:last-child {
  margin-right: 0;
}

.btn-color:hover .btn-color__tab, .btn-color.active .btn-color__tab {
  border-bottom: 0.1875rem solid #414141;
  box-shadow: -0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.4);
}
.btn-color__tab {
  display: inline-block;
  width: 3.125rem;
  height: 1.25rem;
  border-radius: 3px;
  transition: box-shadow 0.2s ease;
}
.btn-color__tab--white {
  background-color: #fff;
}
.btn-color__tab--red {
  background-color: #F30E0E;
}
.btn-color__tab--black {
  background-color: #000;
}
.btn-color__tab--yellow {
  background-color: #e5f749;
}
.btn-color__tab--grey {
  background-color: #c6bcab;
}

.feature-top {
  padding: 1.125rem 0;
  background-color: #414141;
}
.feature-top__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-top__title {
  font-size: 1.125rem;
  margin-right: 1.125rem;
}
.feature-top__btn {
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.feature-top__btn.open .feature-top__sircle {
  transform: translate(-50%, -50%) rotate(0);
}
.feature-top__sircle {
  width: 0.625rem;
  height: 0.0625rem;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
.feature-top__sircle + .feature-top__sircle {
  transform: translate(-50%, -50%) rotate(90deg);
}

.product {
  display: flex;
  justify-content: space-between;
}
.product__images {
  flex: 0 0 46%;
  margin-right: 1.875rem;
}
.product__content {
  flex: 0 0 35%;
}
.product__title {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0.625rem;
}
.product__article {
  display: inline-block;
  font-family: "Scada", sans-serif;
  margin-bottom: 2.1875rem;
}
.product__color {
  display: flex;
  justify-content: space-between;
  font-family: "Scada", sans-serif;
  margin-bottom: 2.1875rem;
}
.product__size {
  margin-bottom: 2.1875rem;
}
.product__price {
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 2.1875rem;
}
.product__buttons {
  display: flex;
}
.product__btn {
  margin-right: 0.625rem;
}

.characteristics {
  flex: 0 0 30%;
}
.characteristics p {
  font-weight: 300;
}
.characteristics p + p {
  margin-top: 0.4375rem;
}
.characteristics__title {
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}

.feature {
  font-family: "Scada", sans-serif;
  position: relative;
  margin-bottom: 2.5rem;
}
.feature__bottom {
  font-size: 1.125rem;
  line-height: 1.3;
  opacity: 0;
  background-color: #555555;
  padding: 3.125rem 0;
  position: absolute;
  left: 0;
  right: 0;
}
.feature__bottom.active {
  position: relative;
  opacity: 1;
  transition: all 1s ease;
}
.feature__inner {
  display: flex;
  justify-content: space-between;
}

.card-block {
  font-family: "Scada", sans-serif;
  margin-top: 3.75rem;
}
.card-block__info {
  margin-bottom: 3.75rem;
}
.card-block__text {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}
.card-block__text p + p {
  margin-top: 0.625rem;
}

.article {
  position: relative;
}
.article__image {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.article__image img {
  height: 23.75rem;
  object-fit: contain;
}
.article__content {
  background-color: #414141;
  padding: 1.875rem 1.5625rem;
  border-radius: 0 0 1.25rem 1.25rem;
}
.article__link {
  text-decoration: underline;
  margin-bottom: 0.9375rem;
}
.article__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 9.6875rem;
  right: 0;
  left: 0;
}
.article__text {
  max-height: 5.25rem;
  overflow: hidden;
  margin-bottom: 1.5625rem;
}
.article__text p {
  line-height: 1.8;
}
.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Scada", sans-serif;
  font-size: 1rem;
}

.articles__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.articles__news {
  flex: 0 1 67%;
  margin-right: 1.875rem;
}
.articles__aside {
  flex: 0 0 30%;
}

.news__item + .news__item {
  margin-top: 3.75rem;
}

.category {
  font-family: "Scada", sans-serif;
}
.category__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.category__item + .category__item {
  margin-top: 0.9375rem;
}
.category__link {
  font-size: 1.125rem;
  color: #fff;
  transition: color 0.5s ease-in-out;
}
.category__link:hover {
  color: #F24444;
}

.tags {
  font-family: "Scada", sans-serif;
}
.tags__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.125rem;
}
.tags__item {
  display: inline-block;
  margin: 0 0.3125rem 0.3125rem 0;
}
.tags__item:last-child {
  margin: 0;
}
.tags__link {
  font-size: 1.125rem;
  border: 0.0625rem solid #FFFFFF;
  border-radius: 1.875rem;
  min-width: 8.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3125rem 0.625rem;
}

.article-aside {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  padding: 0 1.875rem 1.875rem 1.875rem;
}
.article-aside__search {
  margin-bottom: 2.5rem;
}
.article-aside__category {
  margin-bottom: 2.5rem;
}

.full-article__image {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.full-article__image img {
  height: 23.75rem;
  object-fit: contain;
}
.full-article__content {
  background-color: #414141;
  padding: 1.875rem 1.5625rem;
  border-radius: 0 0 1.25rem 1.25rem;
  line-height: 1.8;
}
.full-article__title {
  margin-bottom: 0.9375rem;
}
.full-article__preview {
  margin-bottom: 1.5625rem;
}
.full-article__text {
  font-weight: 300;
  margin-bottom: 1.5625rem;
}
.full-article__text p + p {
  margin-top: 0.9375rem;
}
.full-article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Scada", sans-serif;
  font-size: 1rem;
}

.article-pagination {
  padding: 1.25rem 1.5625rem;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
}
.article-pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-pagination__item {
  margin-right: 1.875rem;
  flex: 0 1 18.75rem;
}
.article-pagination__item:last-child {
  margin-right: 0;
}
.article-pagination__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-pagination__icon--disabled path {
  stroke: #b1b9b9;
}

.comment {
  background-color: #555555;
  border-radius: 0.1875rem;
  padding: 1.25rem 1.5625rem;
}
.comment__author {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}
.comment__text {
  margin-bottom: 0.625rem;
  font-weight: 300;
  line-height: 1.8;
}
.comment__date {
  display: block;
  font-family: "Scada", sans-serif;
  font-size: 0.875rem;
}

.add-comment__title {
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
}
.add-comment__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.add-comment__label {
  flex: 0 1 50%;
  margin-right: 1.25rem;
}
.add-comment__label:last-child {
  margin-right: 0;
}
.add-comment__input {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  min-height: 2.5rem;
  width: 100%;
  border-radius: 1.875rem;
  padding: 0.3125rem 1.5625rem;
  color: #fff;
}
.add-comment__input::placeholder {
  font-family: "Scada", sans-serif;
  color: #fff;
}
.add-comment__input:hover, .add-comment__input:active, .add-comment__input:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}
.add-comment__textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.3125rem 25px;
  border-radius: 1.875rem;
  resize: none;
  margin-bottom: 1.25rem;
  color: #414141;
}
.add-comment__textarea:hover, .add-comment__textarea:active, .add-comment__textarea:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}

.comments {
  padding: 1.5625rem 0;
}
.comments__top {
  margin-bottom: 2.8125rem;
}
.comments__title {
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
}
.comments__item {
  margin-bottom: 0.625rem;
}
.comments__item:last-child {
  margin-bottom: 0;
}

.blog-page__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.blog-page__article {
  flex: 0 1 48.75rem;
  margin-right: 1.875rem;
}
.blog-page__aside {
  flex: 0 0 30%;
}

.size-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Scada", sans-serif;
}
.size-block__list {
  display: flex;
  align-items: center;
}
.size-block__item {
  margin-right: 0.625rem;
}
.size-block__item:last-child {
  margin-right: 0;
}
.size-block__btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
}
.size-block__btn.active {
  background-color: #F30E0E;
  border-color: #F30E0E;
}

.sorting-tabs {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  padding: 0.9375rem 0;
}
.sorting-tabs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sorting-tabs__item {
  margin: 0 0.9375rem 0.3125rem 0;
}
.sorting-tabs__item:last-child {
  margin-right: 0;
}

.motoservices-tab {
  background-color: #555555;
  padding: 1.875rem;
  border-radius: 1.125rem;
}
.motoservices-tab.active {
  display: block;
}
.motoservices-tab__subtitle {
  padding: 1.125rem 0;
}
.motoservices-tab__subtitle:first-child {
  padding-top: 0;
}
.motoservices-tab__subtitle:last-child {
  padding-bottom: 0;
}
.motoservices-tab__content {
  font-weight: 300;
  line-height: 1.8;
}
.motoservices-tab__content p + p {
  margin-top: 0.625rem;
}
.motoservices-tab ul {
  padding: 0.3125rem 0 0.625rem 2.5rem;
}
.motoservices-tab ul li {
  padding-left: 1.5625rem;
  position: relative;
}
.motoservices-tab ul li::before {
  content: "";
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #F30E0E;
  border-radius: 50%;
  left: 0;
  top: 0.625rem;
}
.motoservices-tab ul li + li {
  margin-top: 0.625rem;
}

.subtitle {
  font-size: 1.125rem;
}

.motoservices {
  padding-bottom: 3.125rem;
}
.motoservices__title {
  margin-bottom: 1.5625rem;
}
.motoservices__text {
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 1.125rem;
}
.motoservices__text p + p {
  margin-top: 0.625rem;
}
.motoservices__sorting {
  margin-bottom: 1.125rem;
}

.map__iframe {
  width: 100%;
  border: 0.3125rem solid #fff;
  border-radius: 1.125rem;
}

.contacts {
  padding-bottom: 2.8125rem;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__map {
  flex: 0 1 54%;
  margin-right: 1.875rem;
}
.contacts__content {
  flex: 0 1 40%;
}
.contacts__title {
  text-align: left;
  margin-bottom: 1.5625rem;
}
.contacts__info {
  margin-bottom: 1.875rem;
}
.contacts__info:last-child {
  margin-bottom: 0;
}
.contacts__label {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}
.contacts__text {
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.btn-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 2.5rem;
  background-color: #0B9D1A;
  color: #fff;
  padding: 0.3125rem;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  border-radius: 1.875rem;
  transition: background-color 0.5s;
}
.btn-modal--red {
  background-color: #f30e0e;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(169, 164, 164);
  top: 0;
  left: 0;
}
.popup__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}

.login {
  position: relative;
  max-width: 800px;
  background-color: #555555;
  font-family: "Scada", sans-serif;
  border-radius: 20px;
  padding: 50px;
}
.login__title {
  margin-bottom: 1.875rem;
}
.login__label {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.login__label + .login__label {
  margin-top: 25px;
}
.login__subtitle {
  position: relative;
  margin-bottom: 0.625rem;
}
.login__subtitle::after {
  content: "*";
  position: relative;
  color: #F30E0E;
  top: -0.3125rem;
}
.login__input {
  height: 2.5rem;
  padding: 0.3125rem 0.9375rem;
  border-radius: 1.875rem;
  background-color: #fff;
  color: #414141;
}
.login__input:hover, .login__input:active, .login__input:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}
.login__checkbox {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.login__checkbox:checked + .custom-checkbox::before {
  content: "";
  position: absolute;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  width: 0.4375rem;
  height: 0.4375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 0 0.125rem #414141;
}
.login__restore {
  text-decoration: underline;
}
.login__restore:hover {
  color: #F30E0E;
}
.login__help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.login__btn + .login__btn {
  margin-top: 15px;
}
.login__close {
  position: absolute;
  top: -15px;
  right: -15px;
}

.restore-password {
  position: relative;
  max-width: 500px;
  background-color: #555555;
  font-family: "Scada", sans-serif;
  border-radius: 20px;
  line-height: 1.5;
  padding: 50px;
}
.restore-password__title {
  margin-bottom: 1.875rem;
}
.restore-password__description {
  text-align: center;
  margin-bottom: 3.125rem;
}
.restore-password__label {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-bottom: 3.125rem;
}
.restore-password__subtitle {
  position: relative;
  margin-bottom: 0.625rem;
}
.restore-password__subtitle::after {
  content: "*";
  position: relative;
  color: #F30E0E;
  top: -0.3125rem;
}
.restore-password__input {
  height: 2.5rem;
  padding: 0.3125rem 0.9375rem;
  border-radius: 1.875rem;
  background-color: #fff;
  color: #414141;
}
.restore-password__input:hover, .restore-password__input:active, .restore-password__input:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}
.restore-password__close {
  position: absolute;
  top: -15px;
  right: -15px;
}

.btn-close {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-close span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn-close span::before, .btn-close span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #414141;
}
.btn-close span::before {
  transform: rotate(45deg);
}
.btn-close span::after {
  transform: rotate(-45deg);
}

.registration {
  position: relative;
  max-width: 800px;
  background-color: #555555;
  font-family: "Scada", sans-serif;
  border-radius: 20px;
  padding: 25px 50px;
}
.registration__title {
  margin-bottom: 1.875rem;
}
.registration__description {
  text-align: center;
  margin-bottom: 3.125rem;
}
.registration__label {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 1.125rem;
}
.registration__label:last-child {
  margin-bottom: 0;
}
.registration__subtitle {
  position: relative;
  text-align: left;
}
.registration__subtitle::after {
  content: "*";
  position: relative;
  color: #F30E0E;
  top: -0.3125rem;
}
.registration__subtitle--norequired::after {
  display: none;
}
.registration__input {
  height: 2.5rem;
  padding: 0.3125rem 0.9375rem;
  margin-top: 0.625rem;
  border: 0.0625rem solid #FFFFFF;
  border-radius: 1.875rem;
  background-color: #fff;
  color: #414141;
}
.registration__input:hover, .registration__input:active, .registration__input:focus {
  box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
}
.registration__checkbox {
  display: block;
  padding: 1.875rem 0;
}
.registration__checkbox a {
  text-decoration: underline;
}
.registration__close {
  position: absolute;
  top: -15px;
  right: -15px;
}

.busket {
  font-family: "Scada", sans-serif;
  background-color: #555555;
  padding: 1.875rem 0;
  text-align: center;
}
.busket__title {
  margin-bottom: 1.875rem;
}
.busket__description {
  margin-bottom: 3.125rem;
}