@media (max-width: 991.98px) {
    .top-header {
        order: 1;
        &__users-wrapper {
            justify-content: center;
        }
    }
    .navigation {
        display: none;
    }
    .user {
        margin-right: 1.125rem;
        &:last-child {
            margin-right: 0;
        }
        &__icon {
            margin-right: 0;
        }
        &__label {
            display: none;
        }
    }
    .mobile-menu {
        display: flex;
    }
}