@media (max-width: 991.98px) {
    body {
        font-size: 0.875rem;
    }
    .header, .footer {
        font-size: 1rem;
    }
    .navigation {
        &__item {
            margin-right: 0;
        }
    }
}

@media (max-width: 850px) {
    .top-header {
        padding: 2.125rem 0;
        .address-information {
            &__icon {
                margin-right: 0;
            }
            &__label {
                display: none;
            }
        }
    }
    .footer-nav {
        flex-direction: column;
        &__list {
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__label::before {
            display: block;
        }
    }
    .spoiler {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .top-header {
        order: 1;
        &__logo {
            display: none;
        }
    }
    .navigation {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
    .title {
        font-size: 1.125rem;
    }
}

@media (max-width: 575.98px) {
    .title {
        font-size: 1rem;
    }
}