.cart-product {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 20px;
    &__title {
        font-family: "Scada,sans-serif";
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 700;
    }
    &__img {
        max-width: 120px;
        overflow: hidden;
        border-radius: 10px;
        img {
            max-width: 120px;
            object-fit: contain;
        }
    }
    &__price {
        font-size: 1.125rem;
        font-weight: 600;
    }
    &__deleate {
        justify-self: end;
    }
}