.feature {
    font-family: 'Scada', sans-serif;
    position: relative;
    margin-bottom: 2.5rem;
    &__bottom {
        font-size: 1.125rem;
        line-height: 1.3;
        //display: none;
        background-color: $grey-bg;
        padding: 3.125rem 0;
        position: relative;
        left: 0;
        right: 0;
        &.active {
            display: block;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}