.registration {
    position: relative;
    max-width: 800px;
    background-color: $grey-bg;
    font-family: 'Scada', sans-serif;
    border-radius: 20px;
    padding: 25px 50px;
    &__title {
        margin-bottom: 1.875rem;
    }
    &__description {
        text-align: center;
        margin-bottom: 3.125rem;
    }
    &__label {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        margin-bottom: 1.125rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        position: relative;
        text-align: left;
        &::after {
            content: '*';
            position: relative;
            color: $red;
            top: -0.3125rem;
        }
        &--norequired::after {
            display: none;
        }
    }
    &__input {
        height: 2.5rem;
        padding: 0.3125rem 0.9375rem;
        margin-top: 0.625rem;
        border: 0.0625rem solid #FFFFFF;
        border-radius: 1.875rem;
        background-color: #fff;
        color: $dark-bg;
        &:hover,
        &:active,
        &:focus {
            box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
        }
    }
    &__checkbox {
        display: block;
        padding: 1.875rem 0;
        a {
            text-decoration: underline;
        }
    }
    &__close {
        position: absolute;
        top: -15px;
        right: -15px;
    }
}