.social {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item:not(:last-child) {
        margin-right: 0.625rem;
    }
    &__link-icon {
        width: 42px;
        height: 42px;
    } 
}