extends ./layout/app

block variables
    - const title = "Новости и статьи";

block content
    .wrapper
        include ./chunk/header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        +breadcrumbs("breadcrumbs__link", "articles.html", "Статьи")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Обзор мотоцикла Stels 600 Benelli
            +full-article("stels-benelli.jpg", "stels-benelli", "Обзор мотоцикла Stels 600 Benelli", "Дорожный байк Stels 600 Benelli по праву можно назвать самым мощным в своей линейке. Двигатель мотоцикла оборотистый и позволяет легко и безопасно маневрировать в городском потоке.", "2022-09-15", "15. 09. 2022", "Автор: Алексей Иванов")
                block text 
                    p На STELS 600 Benelli установлен рядных 4-цилиндровый бензиновый двигатель BJ465MS-A с рабочим объемом 600 см³. Мотор оснащен двумя распредвалами и 16-клапанным ГРМ, а также системой водяного охлаждения с большим радиатором, установленным в передней части под баком. Система питания двигателя инжекторная EFI с одноточечным прямым впрыском, а предпочтительный «сорт» бензина – не меньше Аи-92. Двигатель оборудуется бесконтактным зажиганием ECU с электронным управлением, электростартером и работает в четыре такта. Его максимальная мощность составляет почти 82 л.с. (81,6) при 11500 об/минуту, а крутящий момент достигает своего пика в 52 Нм при 10500 об/минуту. Как показали независимые тесты, STELS 600 Benelli обладает превосходной динамикой разгона, ничем не уступающей зарубежным аналогам, но при этом спортивным нравом не отличается, все-таки мотоцикл рассчитан на городские условия езды.
                    p Если у двигателя спортивного нрава нет, то вот подвеска у байка совсем не «городская», а полноценная спортивная с острым углом наклона рулевой колонки и рассчитанная на широкий круг мотоциклистов за счет возможности регулировки. Спереди конструкторы применили настраиваемую телескопическую вилку перевернутого типа с двумя пружинно-гидравлическими амортизаторами, а сзади использовали конструкцию с массивным алюминиевым маятником и настраиваемым моноамортизатором. В целом поведение подвески адекватное, ее жесткость как спереди, так и сзади идеально подходит для городских условий, обеспечивая запас прочности для любых маневров при любой плотности движения.
                    p Отметим и тормозную систему мотоцикла. На обоих колёсах STELS 600 Benelli используются дисковые тормоза с гидравлическими приводами. Спереди установлены два диска и 4-порневые суппорта, а сзади предпочтение отдано одному диску с 2-поршневым суппортом. О наличии или отсутствии системы ABS производитель пока ничего не сообщает.
            include ./chunk/article-pagination.pug

            +comment("Иван Д.", "Классный байк для новичка. Сам на таком два года катался прежде чем Ямаху литровую купить.", "2022-09-16", "16. 09. 2022")
            +comment("Олег", "Отличный байк! Брат недавно такой купил, я тоже собираюсь.", "2022-09-16", "16. 09. 2022")
            include ./chunk/add-comment.pug