extends ./layout/app

block variables
    - const title = "Новости и статьи";

block content
    .wrapper
        header.header
            include ./chunk/top-header.pug
            include ./chunk/bottom-header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Статьи
            
            .articles 
                .container 
                    .articles__wrapper
                        .articles__news
                            include ./chunk/news.pug
                        .articles__aside
                            include ./chunk/article-aside
            +partners(jsonData.partners)
        include ./chunk/footer.pug
    include ./chunk/login.pug