extends ./layout/app

block variables
    - const title = "Новости и статьи";

block content
    .wrapper
        include ./chunk/header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Статьи
            
            .articles 
                .container 
                    .articles__wrapper
                        .articles__news
                            include ./chunk/news.pug
                        .articles__aside
                            .article-aside 
                                .article-aside__search
                                    include ./chunk/search-form.pug
                                .article-aside__category
                                    include ./chunk/category.pug
                                .article-aside__tags
                                    include ./chunk/tags.pug
            include ./chunk/partners.pug
        include ./chunk/footer.pug