extends ./layout/app

block variables
    - const title = "Корзина";

block content 
    .wrapper
        header.header
            include ./chunk/top-header.pug
            include ./chunk/bottom-header.pug

        main.main 
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Корзина
            section.cart
                .container 
                    h1.cart__title.title Корзина товаров
                    .cart-header
                        .card-header__name Название
                        .card-header__count Количество
                        .card-header__price Цена
                    .cart-products 
                        +cart-product("outfit-1.jpeg", "Перчатки", "MCP Мотоперчатки классические Wicklow", "2 500 руб.")
                        +cart-product("3.jpg", "Мотоцикл", "IRBIS TTR 110", "36 500 руб.")
                        +cart-product("outfit-9.jpeg", "Шлем", "SHOEI Мотошлем NEOTECH EXCURSION", "50 000 руб.")
                    .cart-footer
                        .cart-footer__total 
                            span Всего:
                            span 89 000 руб.
            section.busket.none 
                .container 
                    h2.busket__title.title К сожалению, Ваша корзина пуста
                    p.busket__description Вы можете это исправить: выберите в каталоге интересующий товар и нажмите кнопку “В корзину”.
                    a(href="mototechnics.html").btn Перейти в каталог
        include ./chunk/footer.pug
    include ./chunk/login.pug