extends ./layout/app

block variables
    - const title = "Корзина";

block content 
    .wrapper
        header.header
            include ./chunk/top-header.pug
            include ./chunk/bottom-header.pug

        main.main 
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Корзина
            section.cart
                .container 
                    h1.cart__title.title Корзина товаров
                    .cart__info.none
                        .cart-header
                            .card-header__name Название
                            .card-header__count Количество
                            .card-header__price Цена
                    .cart-products 
                    .cart__total.none 
                        .cart-footer
                            .cart-footer__total 
                                span Всего:
                                span(data-total) 0
                                span руб.
            section.busket 
                .container 
                    h2.busket__title.title К сожалению, Ваша корзина пуста
                    p.busket__description Вы можете это исправить: выберите в каталоге интересующий товар и нажмите кнопку “В корзину”.
                    a(href="mototechnics.html").btn Перейти в каталог
        include ./chunk/footer.pug
    include ./chunk/login.pug