extends ./layout/app

block variables
    - const title = "Главная";

block content
    .wrapper
        header.header
            include ./chunk/top-header.pug
            include ./chunk/bottom-header.pug

        main.main
            include ./chunk/motomir.pug
            +partners(jsonData.partners)
            include ./chunk/popular-products.pug
            include ./chunk/moto-news.pug
        include ./chunk/footer.pug
    include ./chunk/login.pug


