extends ./layout/app

block variables
    - const title = "Мототехника";

block content 
    .wrapper
        include ./chunk/header.pug

        main.main 
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Мототехника

            include ./chunk/sorting.pug
            include ./chunk/technics-block.pug
            include ./chunk/pagination.pug
            .catalog__text
                p Представляем вашему вниманию каталог мотоциклов с ценами и характеристиками. На данной странице представлены практически все бренды мотоциклов, скутеров и квадроциклов, продажа которых осуществляется на территории Ивановской области в официальных автосалонах. Каталог мототехники содержит подробную информацию о характеристиках и актуальных ценах на новые модели. 
                p Благодаря разработанным сервисам, любой посетитель сам может сделать выбор: на сайте доступно сравнение мотоциклов, скутеров и квадроциклов по различным параметрам. Также есть возможность самостоятельно, задав характеристики мотоцикла, подобрать мототехнику.
                           
