extends ./layout/app

block variables
    - const title = "Экипировка";

block content
    .wrapper
        include ./chunk/header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        +breadcrumbs("breadcrumbs__link", "outfit.html", "Экипировка")
                        +breadcrumbs("breadcrumbs__link", "#", "Шлемы")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active SHOEI Мотошлем NEOTEC EXCURSION
            .card-block
                .card-block__info
                    .container
                        +product("SHOEI Мотошлем NEOTEC EXCURSION", "Артикул: 26673", "50 000 руб.")
                            block images
                                .product__images  
                                    include ./chunk/outfit-card-images.pug
                            block color-tabs
                                .product__color
                                    include ./chunk/outfit-color-block.pug
                            block size 
                                .product__size 
                                    include ./chunk/outfit-size-block.pug
                .card-block__feature
                    .feature 
                        include ./chunk/feature-top.pug
                        .feature__bottom.js-features
                            .container 
                                .feature__inner
                                    include ./chunk/outfit-features.pug
                .card-block__text 
                    .container 
                        p NEOTEC II - обновленная версия популярного туристического Flip-Up шлема премиум класса NEOTECH. По сравнению с предшественником была серьезно улучшена система вентиляции и аэродинамика шлема. Обновленные подушечки обеспечивают более плотную посадку и фиксацию шлема на голове, а запирающая система 360° PIVOT LOCKING SYSTEM гарантирует безопасное и надежное закрытие лицевой части шлема.
                        p Для обеспечения безопасности шлем состоит из AIM-корпуса, который выполнен из углеродного и мульти-композитных волокон, а также специальной EPS подкладки с несколькими слоями плотности, для лучшего поглощения энергии удара. Также NEOTEC II подготовлен к интеграции с системой связи Sena SRL Communication System. На сегодняшний день Shoei NEOTEC II один из лучших шлемов для дальних путешествий. 
                        p Застежка - "трещетка", удобная для застегивания прямо в мотоперчатках. Двойная блокировка поднятой передней части обеспечивает ее надежную фиксацию во время движения. Трехмерная внутренняя обивка из специального материала отлично впитывает и отводит влагу.
                        p Обивка полностью съемная и пригодна для стирки. Новые комфортные подушечки для щек с дополнительной шумоизоляцией. Для снижения уровня шума при длительных путешествиях предусмотрены дополнительные съемные ушные подушечки. Быстросъемный Pinlock, эффективно защищающий стекло от запотевания на большей площади, нежели в предыдущих моделях. Регулируемая система вентиляции, не уступающая по эффективности обычным шлемам-интегралам. 
                        p Форма шлема прошла доводку в аэродинамической трубе. Шлем получил встроенный спойлер в задней части, новый подбородочный спойлер и встроенный Vortex-генератор.
                        p Вес - около 1600 г.
            include ./chunk/partners.pug
        include ./chunk/footer.pug
    include ./chunk/login.pug
block scripts 
    script(src="js/features.js")
    script(src="js/spoilerFeature.js")