extends ./layout/app

block variables
    - const title = "Экипировка";

block content
    .wrapper
        header.header
            include ./chunk/top-header.pug
            include ./chunk/bottom-header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", jsonData.nav[0].link, jsonData.nav[0].title)
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", "outfit.html", "Экипировка")
                        li.breadcrumbs__item
                            +link("breadcrumbs__link", "#", "Шлемы")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active SHOEI Мотошлем NEOTEC EXCURSION
            .card-block
                .card-block__info
                    .container
                        +product(jsonCards.outfitCard[0].outfitInfo.title, jsonCards.outfitCard[0].outfitInfo.articleNumber, jsonCards.outfitCard[0].outfitInfo.price, jsonCards.outfitCard[0].outfitInfo.id)
                            block images
                                .product__images  
                                    +card-images(jsonCards.outfitCard[1].outfitColor)
                            block color-tabs
                                .product__color
                                    +color-block(jsonCards.outfitCard[2].outfitTabColor)
                            block size 
                                .product__size 
                                    include ./chunk/outfit-size-block.pug
                .card-block__feature
                    .feature 
                        include ./chunk/feature-top.pug
                        .feature__bottom.js-features
                            .container 
                                .feature__inner
                                    .feature__characteristics
                                        +characteristics(jsonData.outfitGeneralTitle, jsonData.outfitGeneral)
                .card-block__text 
                    .container 
                        p NEOTEC II - обновленная версия популярного туристического Flip-Up шлема премиум класса NEOTECH. По сравнению с предшественником была серьезно улучшена система вентиляции и аэродинамика шлема. Обновленные подушечки обеспечивают более плотную посадку и фиксацию шлема на голове, а запирающая система 360° PIVOT LOCKING SYSTEM гарантирует безопасное и надежное закрытие лицевой части шлема.
                        p Для обеспечения безопасности шлем состоит из AIM-корпуса, который выполнен из углеродного и мульти-композитных волокон, а также специальной EPS подкладки с несколькими слоями плотности, для лучшего поглощения энергии удара. Также NEOTEC II подготовлен к интеграции с системой связи Sena SRL Communication System. На сегодняшний день Shoei NEOTEC II один из лучших шлемов для дальних путешествий. 
                        p Застежка - "трещетка", удобная для застегивания прямо в мотоперчатках. Двойная блокировка поднятой передней части обеспечивает ее надежную фиксацию во время движения. Трехмерная внутренняя обивка из специального материала отлично впитывает и отводит влагу.
                        p Обивка полностью съемная и пригодна для стирки. Новые комфортные подушечки для щек с дополнительной шумоизоляцией. Для снижения уровня шума при длительных путешествиях предусмотрены дополнительные съемные ушные подушечки. Быстросъемный Pinlock, эффективно защищающий стекло от запотевания на большей площади, нежели в предыдущих моделях. Регулируемая система вентиляции, не уступающая по эффективности обычным шлемам-интегралам. 
                        p Форма шлема прошла доводку в аэродинамической трубе. Шлем получил встроенный спойлер в задней части, новый подбородочный спойлер и встроенный Vortex-генератор.
                        p Вес - около 1600 г.
            +partners(jsonData.partners)
        include ./chunk/footer.pug
    include ./chunk/login.pug
