extends ./layout/app

block variables
    - const title = "Экипировка";

block content 
    .wrapper
        include ./chunk/header.pug

        main.main 
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Экипировка
            .catalog
                .container
                    .catalog__inner
                        button(type="button").catalog__filter-btn.js-filter-btn 
                            img(src="@img/filter.svg", alt="Фильтр")
                        aside.catalog__filter
                            form(action="/").filter.js-filter
                                .filter__price-block
                                    include ./chunk/price-block.pug
                                .filter__technics-block
                                    include ./chunk/checkbox-outfit.pug
                                .filter__type-block 
                                    include ./chunk/checkbox-outfittype.pug
                                .filter__brands-block 
                                    include ./chunk/checkbox-outfitbrands.pug
                                .filter__material-block 
                                    include ./chunk/material-block.pug
                                .filter__btn 
                                    button(type="submit").btn.btn--small Показать
                                .filter__reset 
                                    button.filter__reset-btn Сбросить настройки
                        .catalog__products
                            .catalog__sorting 
                                include ./chunk/sorting.pug
                            .catalog__cards 
                                include ./chunk/outfit-block.pug
                            .catalog__pagination
                                include ./chunk/pagination.pug
                            .catalog__text
                                p Безопасность на дорогах для мотоциклиста превыше всего! Водитель мотоцикла знает, что хорошая мотоэкипировка частично её обеспечивает. От качества, функциональности, надёжности и комфорта защитной одежды для мотоциклиста зависит многое.
                                p Мотоэкипировка - это основа вашей безопасности при управлении мототранспортом, а также способ подчеркнуть свою принадлежность к байкерскому сообществу. В нашем магазине осуществляется продажа мотоэкипировки по выгодным ценам в широком ассортименте. Мы ставим амбициозную задачу - собрать в одном месте продукцию от лучших брендов, чтобы мотоциклисты могли купить всё необходимое у нас по самой выгодной цене.
        include ./chunk/footer.pug 