extends ./layout/app

block variables
    - const title = "Восстановление пароля";

block content
    .wrapper
        include ./chunk/header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Восстановление пароля

            .restore-password
                .container 
                    .restore-password__inner 
                        h4.restore-password__title.title Восстановление пароля
                        p.restore-password__description Ваши данные, указанные при регистрации, а так же новый пароль будут высланы Вам по e-mail.
                        form(action="/").restore-password__form
                            label.restore-password__label
                                span.restore-password__subtitle Введите логин или e-mail:
                                input(type="email", name="login", required).restore-password__input
                            button(type="submit").restore-password__btn.btn.btn--busket Восстановить пароль

        include ./chunk/footer.pug
    include ./chunk/login.pug