extends ./layout/app

block variables
    - const title = "Мототехника";

block content
    .wrapper
        include ./chunk/header.pug

        main.main
            .breadcrumbs 
                .container 
                    ul.breadcrumbs__list
                        +breadcrumbs("breadcrumbs__link", "index.html", "Главная")
                        +breadcrumbs("breadcrumbs__link", "mototechnics.html", "Мототехника")
                        +breadcrumbs("breadcrumbs__link", "#", "Мотоциклы")
                        li.breadcrumbs__item 
                            span.breadcrumbs__link.breadcrumbs__link--active Wels Impulse 250сс
        
            .container
                +product("Wels Impulse 250сс", "Артикул: 26894", "150 000 руб.")
                    block images
                        .product__images  
                            include ./chunk/moto-card-images.pug
                    block color-tabs
                        .product__color
                            include ./chunk/moto-color-block.pug
            include ./chunk/feature-top.pug