mixin cards(cardslist)
    .products-block
        ul.products-block__list 
            each item in cardslist 
                li.products-block__item 
                    +product-card(item.id, item.image, item.alt, item.title, item.price, item.link, item.text, item.articleNumber, item.year)