mixin category(title, list)
    .category 
        h5.category__title #{title}
        ul.category__list 
            each item in list 
                li.category__item 
                    a(href=item.href).category__link #{item.text}