mixin color-block(colors)
    .color-block 
        span.color-block__label Цвет:
        ul.color-block__list 
            each item in colors
                li.color-block__item 
                    +btn-color(item.dataAttr, item.classAttr)