mixin mobile-nav(list)
    nav.mobile-nav
        ul.mobile-nav__list
            each item in list 
                li.mobile-nav__item
                    a(href=item.link).mobile-nav__link #{item.title} 