mixin radio-block(title, radioList)
    .radio-block 
        h5.radio-block__title.filter-title #{title}
        ul.radio-block__list 
            each item in radioList 
                li.radio-block__item
                    label.radio
                        input(name=item.name, type="radio").radio__input
                        span.radio__custom.custom-radio
                        span.radio__name #{item.text} 