mixin tags(title, list)
    .tags 
        h5.tags__title #{title}
        ul.tags__list 
            each item in list 
                li.tags__item 
                    a(href=item.href).tags__link #{item.text}
