mixin user(link, aria, title, className, xlink)
    a(href=link, aria-label=aria).user
        svg(class="" + className) 
            use(xlink:href="@img/sprite.svg#" + xlink)
        span.user__label #{title}