.mobile-nav {
    display: block;
    &__item {
        margin-bottom: 0.3125rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        width: 100%;
        padding: 0.625rem 1.5625rem;
    }
}