.mobile-navigation {
    display: block;
    //position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-bg;
    &__list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
    }
    &__logo {
        margin-bottom: 30px;
    }
}