.add-comment 
    h5.add-comment__title Добавить комментарий
    .add-comment__inputs 
        label(aria-label="Имя").add-comment__label
            input(type="text", placeholder="Имя:").add-comment__input
        label(aria-label="Почта").add-comment__label
            input(type="email", placeholder="E-mail:").add-comment__input
        textarea.add-comment__textarea
        button(type="submit").add-comment__btn.btn Отправить

