.address-information 
    ul.address-information__list.address-information__list--mobile 
        li.address-information__item 
            a(href="contacts.html").address-information__link
                +svg("address-information__icon", "placeholder")
                span.address-information__label Иваново, ул. Сакко, 54
        li.address-information__item 
            a(href="tel:84932134581").address-information__link.address-information__link--phone
                +svg("address-information__icon", "phone")
                span.address-information__label Тел. 8 (4932) 134-581
        li.address-information__item 
            a(href="mailto:motomirIvanovo@email.com").address-information__link
                +svg("address-information__icon", "mail")
                span.address-information__label motomirIvanovo@email.com
