.article-pagination 
    ul.article-pagination__list 
        li.article-pagination__item 
            a.article-pagination__link
                svg(width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg").article-pagination__icon.article-pagination__icon--disabled
                    path(d="M31 8L1 8M1 8L7.5625 15M1 8L7.5625 1" stroke="white")
                span.article-pagination__label.article-pagination__label--left
        li.article-pagination__item 
            a(href="#").article-pagination__link
                span.article-pagination__label Новый Baltmotors Dakar 250 E
                svg(width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg").article-pagination__icon
                    path(d="M0 8H30M30 8L23.4375 1M30 8L23.4375 15" stroke="white")