.bottom-header 
    .container 
        .navigation 
            ul.navigation__list 
                li.navigation__item 
                    +navlink(jsonData.nav[0].title, jsonData.nav[0].link, " navigation__link--active")
                li.navigation__item 
                    +navlink(jsonData.nav[1].title, jsonData.nav[1].link)
                    +dropdown(jsonData.technics)
                li.navigation__item 
                    +navlink(jsonData.nav[2].title, jsonData.nav[2].link)
                    +dropdown(jsonData.spareParts)
                li.navigation__item 
                    +navlink(jsonData.nav[3].title, jsonData.nav[3].link)
                    +dropdown(jsonData.outfitType)
                li.navigation__item 
                    +navlink(jsonData.nav[4].title, jsonData.nav[4].link)
                li.navigation__item 
                    +navlink(jsonData.nav[5].title, jsonData.nav[5].link)
                li.navigation__item 
                    +navlink(jsonData.nav[6].title, jsonData.nav[6].link)
        .mobile-menu 
            .mobile-menu__btn 
                include ./mobile-button.pug
            .mobile-menu__logo 
                include ./mobile-logo.pug
        +mobile-nav(jsonData.nav)

                
        
        
