-const category = [{ text: "Обзоры (7)" }, { text: "Новости (23)" }, { text: "Выбор мотоцикла (6)" }, { text: "Тюнинг (3)" }, { text: "Новинки (4)" }, { text: "Необычные мотоциклы (2)" }]

+category(category)