-const outfitBrands = [{ text: "SHOEI" }, { text: "ALPINESTARS" }, { text: "BIKERS" }, { text: "EVS" }, { text: "GO PRO" }, { text: "IXS" }, { text: "KAMIK" }, { text: "SPYKE" }, { text: "MCP" }, { text: "STADLER" }, { text: "VANESSA" }]

+checkbox-block("Бренд", outfitBrands)