.feature-top 
    .container 
        .feature-top__inner 
            h4.feature-top__title Технические характеристики
            button.feature-top__btn 
                span.feature-top__sircle 
                span.feature-top__sircle
