.feature-top 
    .container 
        .feature-top__inner 
            h4.feature-top__title Технические характеристики
            button.feature-top__btn 
                .feature-top__sircle 
                .feature-top__sircle
