

.footer 
    .footer__content 
        .container 
            .footer__inner 
                .footer__social-info 
                    include ./logo.pug
                    include ./social-list.pug
                .footer__info-content 
                    .footer__contacts
                        include ./address-information.pug
                        .address-information__schedule
                            include ./schedule.pug
                    .footer__nav
                        include ./footer-nav.pug
    .footer__copyright
        .container 
            p © Магазин мототехники в Иваново 2018 - 2022





