-const mobileNavList = [{ href: "index.html", text: "Главная" }, { href: "mototechnics.html", text: "Мототехника" }, { href: "#", text: "Мотозапчасти" }, { href: "outfit.html", text: "Экипировка" }, { href: "motoservices.html", text: "Мотосервис" }, { href: "articles.html", text: "Статьи" }, { href: "contacts.html", text: "Контакты" } ]

+mobile-nav("mobile-nav__link", mobileNavList)