.mobile-navigation 
    include ./../chunk/mobile-menu.pug
    .mobile-navigation__list
        .mobile-navigation__logo
            include ./../chunk/logo.pug
        .mobile-navigation__nav
            include ./../chunk/mobile-nav.pug


