.mobile-navigation 
    .mobile-navigation__buttons 
        .mobile-navigation__btn
            include ./../chunk/mobile-button.pug
        .mobile-navigation__logo-mobile
            include ./../chunk/mobile-logo.pug
    .mobile-navigation__list
        .mobile-navigation__logo
            include ./../chunk/logo.pug
        .mobile-navigation__nav
            include ./../chunk/mobile-nav.pug


