-const motoColors = [{ dataColor: "#white", colorClass: "btn-color__tab--white"}, { dataColor: "#red", colorClass: "btn-color__tab--red"}, { dataColor: "#black", colorClass: "btn-color__tab--black"}]

+color-block(motoColors)