-const images = [{ id: "white", image: "wels-white.png", alt: "Мотоцикл Wels Impulse 250cc белый" }, { id: "red", image: "wels-red.png", alt: "Мотоцикл Wels Impulse 250cc красный" }, { id: "black", image: "wels-black.png", alt: "Мотоцикл Wels Impulse 250cc черный" }]

+card-images(images)