-const featuresList1 = [{ paragraph: "Модельный год: 2022" }, { paragraph: "Цвет: красный" }, { paragraph: "Артикул: 67324" }, { paragraph: "Торговая марка: Wels Impulse 250сс" }, { paragraph: "Марка топлива: АИ-92" }, { paragraph: "Топливный бак: 14 литров" }, { paragraph: "Размеры:  2090/740/130" }, { paragraph: "Высота по седлу: 960 мм" }, { paragraph: "Масса: 103 кг" }, { paragraph: "Дорожный просвет: 355 мм" }]
-const featuresList2 = [{ paragraph: "Рабочий объем: 249.91" }, { paragraph: "Количество тактов: 4" }, { paragraph: "Количество цилиндров: 1" }, { paragraph: "Система охлаждения: жидкостная" }, { paragraph: "Система запуска: электростартер" }, { paragraph: "Коробка передач: 5-ступенчатая, механическая" }, { paragraph: "Главная передача: цепь" }, { paragraph: "Сцепление: многодисковое в масляной ванне" }]
-const featuresList3 = [{ paragraph: "Передняя подвеска: телескопическая вилка с двумя пружинно-гидравлическими амортизаторами" }, { paragraph: "Задняя подвеска: маятниковая вилка с одним пружинно-гидравлическим амортизатором" }, { paragraph: "Тормоза: дисковые" }, { paragraph: "Передние шины: 110/70-17" }, { paragraph: "Задние шины: 130/70-17" }]


+characteristics("Общие характеристики", featuresList1)
+characteristics("Двигатель и трансмиссия", featuresList1)
+characteristics("Шасси", featuresList1)