.news 
    h1.visually-hidden Статьи и новости о мотоциклах
    ul.news__list
        each item in jsonCards.articles
            li.news__item 
                +article(item.image, item.alt, item.title, item.date, item.author, item.href, item.previewText)
    include ./pagination.pug