.news 
    h1.visually-hidden Статьи и новости о мотоциклах
    ul.news__list
        li.news__item 
            +article("stels-benelli.jpg", "stels-benelli", "Обзор мотоцикла Stels 600 Benelli", "15. 09. 2022", "Автор: Алексей Иванов")
                block paragraph 
                    p Дорожный байк Stels 600 Benelli по праву можно назвать самым мощным в своей линейке. Двигатель мотоцикла оборотистый и позволяет легко и безопасно маневрировать в городском потоке.
        li.news__item 
            +article("dakar.jpg", "dakar", "Новый Baltmotors Dakar 250 E", "10. 09. 2022", "Автор: Игорь Андреев")
                block paragraph 
                    p Dakar 250 – это полноценный эндуро-мотоцикл, предназначенный для эксплуатации на дорогах общего пользования и на бездорожье: горной местности, песках и грязи.
        li.news__item 
            +article("winter.jpg", "Зимнее хранение мотоцикла", "Зимнее хранение мотоцикла", "01. 09. 2022", "Автор: Алексей Иванов")
                block paragraph 
                    p Мы предлагаем услугу зимнего хранения Вашего мотоцикла. Стоимость услуги 2000 руб. за месяц хранения, расчет по дням. В эту стоимость входит доставка мотоцикла до места хранения на нашем оборудованном транспорте. 
        li.news__item 
            +article("kross.jpg", "Кроссовые мотоциклы", "Виды кроссовых мотоциклов", "25. 08. 2022", "Автор: Алексей Иванов")
                block paragraph 
                    p На кроссовых мотоциклах регулярно проводятся соревнования по гонкам на пересеченной местности. Данные мотоциклы выделяются в отдельный класс, прежде всего по объему двигателя.
        li.news__item 
            +article("sportbike.jpg", "Спортбайк", "Нужен ли спортбайк в городе?", "17. 08. 2022", "Автор: Игорь Андреев")
                block paragraph 
                    p Многие новички хотят приобрести себе именно спортивный мотоцикл, а не классику. Но они едва ли задумываются о том, будет ли такой байк удобен для них в пределах города. Разбираемся вместе в этой статье.
        li.news__item 
            +article("chopper.jpg", "Chopper Wels", "Как выбрать чоппер?", "11. 08. 2022", "Автор: Игорь Андреев")
                block paragraph 
                    p С самого начала Вы должны дать четкий ответ на вопрос: какой объем двигателя Вас интересует? Многие рекомендуют подбирать байк с крупным мотором, но удобно ли это будет для новичка? 