.news 
    h1.visually-hidden Статьи и новости о мотоциклах
    ul.news__list
        li.news__item 
            +article("stels-benelli.jpg", "stels-benelli", "Обзор мотоцикла Stels 600 Benelli", "15. 09. 2022", "Автор: Алексей Иванов")
                block paragraph 
                    p Дорожный байк Stels 600 Benelli по праву можно назвать самым мощным в своей линейке. Двигатель мотоцикла оборотистый и позволяет легко и безопасно маневрировать в городском потоке.