-const outfitImages = [{ id: "yellow", image: "shoei-yellow.png", alt: "Мотошлем Shoei желтый" }, { id: "grey", image: "shoei-grey.png", alt: "Мотошлем Shoei серый" }, { id: "white", image: "shoei-white.png", alt: "Мотошлем Shoei белый" }]

+card-images(outfitImages)