.size-block 
    span.size-block__label Размер:
    ul.size-block__list 
        li.size-block__item 
            button.size-block__btn.active S 
        li.size-block__item 
            button.size-block__btn M
        li.size-block__item 
            button.size-block__btn L 
        li.size-block__item 
            button.size-block__btn XL