-const outfitFeaturesList1 = [{ paragraph: "Модельный год: 2022" }, { paragraph: "Цвет: желтый, серый, белый" }, { paragraph: "Артикул: 67324" }, { paragraph: "Торговая марка: SHOEI" }, { paragraph: "Размеры:  S, M, L, XL" }, { paragraph: "Пол: мужской, женский" }, { paragraph: "Материал: многослойный композит" }]

+characteristics("Общие характеристики", outfitFeaturesList1)