-const outfitColors = [{ dataColor: "#yellow", colorClass: "btn-color__tab--yellow"}, { dataColor: "#grey", colorClass: "btn-color__tab--grey"}, { dataColor: "#white", colorClass: "btn-color__tab--white"}]

+color-block(outfitColors)