.partners 
    .container 
        ul.partners__list 
            li.partners__item 
                img(src="@img/baltmotors.png", alt="Логотип Балтмоторс")
            li.partners__item 
                img(src="@img/wels.png", alt="Логотип Уэллс")
            li.partners__item 
                img(src="@img/racer.png", alt="Логотип Рэйсер")
            li.partners__item 
                img(src="@img/stels.png", alt="Логотип Стелс")
            li.partners__item 
                img(src="@img/irbis.png", alt="Логотип Ирбис")