section.popular-products 
    .container 
        h2.popular-products__title.title Популярные
        .popular-products__slider.swiper-container
            .swiper-wrapper 
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.moto[2].id, jsonCards.moto[2].image, jsonCards.moto[2].alt, jsonCards.moto[2].title, jsonCards.moto[2].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.moto[5].id, jsonCards.moto[5].image, jsonCards.moto[5].alt, jsonCards.moto[5].title, jsonCards.moto[5].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.outfit[5].id, jsonCards.outfit[5].image, jsonCards.outfit[5].alt, jsonCards.outfit[5].title, jsonCards.outfit[5].price)
                .swiper-slide
                    .products-block__card 
                        +product-card(jsonCards.outfit[0].id, jsonCards.outfit[0].image, jsonCards.outfit[0].alt, jsonCards.outfit[0].title, jsonCards.outfit[0].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.moto[8].id, jsonCards.moto[8].image, jsonCards.moto[8].alt, jsonCards.moto[8].title, jsonCards.moto[8].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.moto[4].id, jsonCards.moto[4].image, jsonCards.moto[4].alt, jsonCards.moto[4].title, jsonCards.moto[4].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.outfit[7].id, jsonCards.outfit[7].image, jsonCards.outfit[7].alt, jsonCards.outfit[7].title, jsonCards.outfit[7].price)
                .swiper-slide 
                    .products-block__card
                        +product-card(jsonCards.moto[6].id, jsonCards.moto[6].image, jsonCards.moto[6].alt, jsonCards.moto[6].title, jsonCards.moto[6].price)
            .popular-products__btns 
                .swiper-button-prev 
                    img(src="@img/prev-arrow.svg", alt="Кнопка назад")
                .swiper-button-next
                    img(src="@img/next-arrow.svg", alt="Кнопка вперед")
                    