section.popular-products 
    .container 
        h2.popular-products__title.title Популярные
        .popular-products__slider.swiper-container
            .swiper-wrapper 
                .swiper-slide 
                    .products-block__card
                        +product-card("01", "1.jpg", "IRBIS VIRAGO", "IRBIS VIRAGO", "25 000 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("03", "3.jpg", "IRBIS TTR 110", "IRBIS TTR 110", "36 500 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("02", "2.jpg", "Racer VIPER", "Racer VIPER", "32 600 руб.")
                .swiper-slide
                    .products-block__card 
                        +product-card("04", "4.jpg", "Motoland CRF 10", "Motoland CRF 10", "40 000 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("05", "5.jpg", "Racer SKYWAY", "Racer SKYWAY", "45 000 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("06", "6.jpg", "Irbis ttr 125", "Irbis ttr 125", "54 000 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("05", "5.jpg", "Racer SKYWAY", "Racer SKYWAY", "45 000 руб.")
                .swiper-slide 
                    .products-block__card
                        +product-card("06", "6.jpg", "Irbis ttr 125", "Irbis ttr 125", "54 000 руб.")
            .popular-products__btns 
                .swiper-button-prev 
                    img(src="@img/prev-arrow.svg", alt="Кнопка назад")
                .swiper-button-next
                    img(src="@img/next-arrow.svg", alt="Кнопка вперед")
                    