-const inputsValue = [{ id: "price-input-0", min: "500", max: "999999", placeholder: "500" }, { id: "price-input-1", min: "500", max: "999999", placeholder: "999999" }]

+toggle-block("Цена (руб)", inputsValue)