section.popup.js-password
    .popup__container
        .restore-password 
            h4.restore-password__title.title Восстановление пароля
            p.restore-password__description Ваши данные, указанные при регистрации, а так же новый пароль будут высланы Вам по e-mail.
            form(action="/").restore-password__form
                label.restore-password__label
                    span.restore-password__subtitle Введите логин или e-mail:
                    input(type="email", name="login", required).restore-password__input
                button(type="submit").restore-password__btn.btn.btn--busket Восстановить пароль
            .restore-password__close
                button.btn-close
                    span