-const inputs = [{ id: "size-input-0", min: "50", max: "1000", placeholder: "50" }, { id: "size-input-1", min: "50", max: "1000", placeholder: "1000" }]

+toggle-block("Объём двигателя (куб. см)", inputs)