.social 
    ul.social__list 
        li.social__item 
            +link("social__link", "#", "")
                +svg("social__link-icon", "facebook")
        li.social__item 
            +link("social__link", "#", "")
                +svg("social__link-icon", "telegram")
        li.social__item 
            +link("social__link", "#", "")
                +svg("social__link-icon", "vk")