.social-network 
    ul.social-network__list
        li.social-network__item 
            a(href="#", aria-label="Ссылка на фэйсбук").social-network__link
                +svg("social-network__icon", "facebook")
        li.social-network__item
            a(href="#", aria-label="Ссылка на телеграмм").social-network__link
                +svg("social-network__icon", "telegram")
        li.social-network__item
            a(href="#", aria-label="Ссылка на вконтакте").social-network__link
                +svg("social-network__icon", "vk")