nav.sorting-tabs 
    ul.sorting-tabs__list 
        li.sorting-tabs__item 
            button(data-service="#repair").sorting-btn.js-btn-tab 
                span Ремонт
        li.sorting-tabs__item 
            button(data-service="#tuning").sorting-btn.js-btn-tab 
                span Тюнинг
        li.sorting-tabs__item 
            button(data-service="#storage").sorting-btn.js-btn-tab 
                span Зимнее хранение