.motoservices-tab(id="storage")
    h2.motoservices-tab__subtitle.subtitle Зимнее хранение мотоциклов в Иваново
    .motoservices-tab__content
        p Наша компания "Мотомир" более семи лет предоставляет услугу зимнего хранения мотоциклов в городе Иваново. Количество хранящейся техники за эти годы выросло до трёхсот единиц в год, что является показателем высокого доверия и качества предоставляемой услуги.
        p Услуги по хранению включают в себя размещение мотоцикла  на охраняемой территории в тёплом помещении с обязательным отключением аккумулятора от электросети мотоцикла.