-const cardslist = [{ id: "01", image: "1.jpg", title: "IRBIS VIRAGO", price: "25 000 руб." }, { id: "02", image: "2.jpg", title: "Racer VIPER", price: "32 600 руб." }, { id: "03", image: "3.jpg", title: "IRBIS TTR 110", price: "36 500 руб." }, { id: "04", image: "4.jpg", title: "Motoland CRF 10", price: "40 000 руб." }, { id: "05", image: "5.jpg", title: "Racer SKYWAY", price: "45 000 руб." }, { id: "06", image: "6.jpg", title: "Irbis ttr 125", price: "54 000 руб." }, { id: "07", image: "7.jpg", title: "Stels Delta 200", price: "57 000 руб." }, { id: "08", image: "8.jpg", title: "IRBIS VR1 200сс", price: "60 000 руб." }, { id: "09", image: "9.jpg", title: "IRBIS GR 250сс", price: "78 000 руб." }]

+cards(cardslist)
