.top-header 
    .container 
        .top-header__inner 
            .top-header__logo 
                include ./logo.pug
            .top-header__actions 
                .top-header__form 
                    include ./search-form.pug
                .top-header__users-wrapper 
                    +user("#", "Личный кабинет", "Личный кабинет", "user js-login")
                        +svg("user__icon", "user-login")
                    +user("busket.html", "Корзина", "Корзина", "user")
                        +svg("user__icon", "user-busket")
            .top-header__info 
                include ./address-information