.motoservices-tab(id="tuning")
    h2.motoservices-tab__subtitle.subtitle Ремонт мототехники в Иваново
    .motoservices-tab__content Тюнинг мотоциклов в Иваново
        p Если вы хотите изменить внешний вид мотоцикла и улучшить его характеристики, необязательно менять что-то кардинально. Начните с обновления покрытия. Делать это лучше в мотосервисе, потому что любая проблема при нанесении очень ярко проявит себя сразу или в течение нескольких недель.
        p Покрасить мотоцикл стоит для предотвращения или даже устранения коррозии, изменения дизайна, повышения прочности (для пластиковых деталей).
    h3.motoservices-tab__subtitle.subtitle Современные тенденции покраски байков
    .motoservices-tab__content
        p Если раньше для имиджа глянец считался оптимальным вариантом, то сейчас матовое нанесение приобретает все большую популярность. Преимущества данного материала в том, что он лучше ложится, скрывает дефекты и выравнивает проблемные поверхности. 
        p Ручная покраска мотоцикла окончательно вышла из употребления в профессиональной сфере: современные мотосервисы оснащены покрасочно-сушильными блоками, подбор и коррекция цветов осуществляется исключительно на компьютере.
        p Основная сложность процесса заключается в том, чтобы выдержать точный временной зазор между нанесением очередного слоя краски и ее высыханием: расчеты переходов от одного этапа к другому выполняет компьютерная и, следовательно ошибки в этом процессе исключены.
        h4.motoservices-tab__subtitle.subtitle Наши преимущества
        ul
            li Мы применяем лакокрасочные покрытия от лучших мировых производителей, протестированные нами лично.
            li Стоимость услуги наши мастера озвучат сразу, и это будет окончательная цифра, без доплат и с учетом финишной полировки.
            li Если требуется восстановление пластиковой или металлической поверхности или коррекция креплений, мы сделаем это перед покраской на территории сервиса.
        .motoservices-tab__content
            p Наш мотосервис предлагает высококачественную покраску мотоцикла целиком, или покраску отдельных деталей пластика мотоцикла.
            p Задумайтесь и об аэрографии - этот стильный элемент является отличной гарантией от угонщиков.