include ./../mixins/user.pug
include ./../mixins/dropdown.pug
include ./../mixins/navlink.pug
include ./../mixins/paragraph.pug
include ./../mixins/partners.pug
include ./../mixins/product-card.pug
include ./../mixins/arrow-btn.pug
include ./../mixins/news-card.pug
include ./../mixins/svg.pug
include ./../mixins/btn.pug
include ./../mixins/link.pug
include ./../mixins/footer-nav.pug
include ./../mixins/breadcrumbs.pug
include ./../mixins/cards.pug
include ./../mixins/toggle-block.pug
include ./../mixins/input.pug
include ./../mixins/checkbox.pug
include ./../mixins/checkbox-block.pug
include ./../mixins/input-radio.pug
include ./../mixins/radio-block.pug
include ./../mixins/image-color.pug
include ./../mixins/card-images.pug
include ./../mixins/btn-color.pug
include ./../mixins/color-block.pug